name: Java CI

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
      - dev  

jobs:
  lint:
    name: Static Code Analysis With Ktlint
    runs-on: ubuntu-latest
    steps:
      - name: Lint Kotlin
        run: mvn com.github.gantsign.maven:ktlint-maven-plugin:1.4.1:check 
  
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 1.12
      uses: actions/setup-java@v1
      with:
        java-version: 1.12
    - name: Build with Maven
      run: mvn -B package --file pom.xml
  
  
