name: Treepat CD

on:
  release:
    types:
      - created

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          ref: master
      - name: Set up JDK 1.12
        uses: actions/setup-java@v1
        with:
          java-version: 1.12
      - name: Deploy in Github Packages
        env:
          GITHUB_USERNAME: x-access-token
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: mvn -ntp -B --settings settings.xml deploy -Dmaven.verify.skip=true -Dmaven.test.skip=true
